In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv('./FAOSTAT_data_8-16-2020_import_export.csv', encoding='utf-8')

In [3]:
df_raw.shape

(123354, 16)

In [4]:
df_import = df_raw[df_raw['Element'] == 'Import Quantity']
print('import', df_import.shape)
df_import.head()

import (55838, 16)

,Domain Code,Domain,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,TM,Detailed trade matrix,2,Afghanistan,52,Azerbaijan,5610,Import Quantity,1062,"Eggs, hen, in shell",2018,2018,tonnes,76,*,Unofficial figure
1,TM,Detailed trade matrix,2,Afghanistan,255,Belgium,5610,Import Quantity,1062,"Eggs, hen, in shell",2017,2017,tonnes,8,*,Unofficial figure
2,TM,Detailed trade matrix,2,Afghanistan,255,Belgium,5610,Import Quantity,1091,"Eggs, other bird, in shell",2015,2015,tonnes,7,*,Unofficial figure
3,TM,Detailed trade matrix,2,Afghanistan,41,"China, mainland",5610,Import Quantity,1062,"Eggs, hen, in shell",2010,2010,tonnes,192,NaN,Official data
4,TM,Detailed trade matrix,2,Afghanistan,79,Germany,5610,Import Quantity,1062,"Eggs, hen, in shell",2014,2014,tonnes,1,*,Unofficial figure

In [52]:
df_import = df_import[['Reporter Countries', 'Year', 'Value']]

In [53]:
df_import.shape

(55838, 3)

In [54]:
df_import_grouped = df_import.groupby( by=[ "Reporter Countries", "Year"], as_index = False).sum()

In [55]:
df_import_grouped.shape

(3976, 3)

In [58]:
df_import_grouped.head()

  Reporter Countries  Year  Value
0        Afghanistan  2009  16105
1        Afghanistan  2010  12668
2        Afghanistan  2011  20705
3        Afghanistan  2014  15405
4        Afghanistan  2015  11665

In [59]:
df_import_grouped.to_json('./import_data.json', index=False, orient="table" )

In [60]:
df_import_grouped.to_csv('./import_data.csv', index=False)

In [16]:
df_export = df_raw[df_raw['Element'] == 'Export Quantity']
print('export', df_export.shape)
df_export.head(30)

export (67516, 16)

,Domain Code,Domain,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
7,TM,Detailed trade matrix,2,Afghanistan,79,Germany,5910,Export Quantity,1063,"Eggs, liquid",2015,2015,tonnes,0,*,Unofficial figure
58,TM,Detailed trade matrix,2,Afghanistan,196,Seychelles,5910,Export Quantity,1062,"Eggs, hen, in shell",2014,2014,tonnes,0,*,Unofficial figure
95,TM,Detailed trade matrix,3,Albania,98,Croatia,5910,Export Quantity,1062,"Eggs, hen, in shell",2012,2012,tonnes,215,NaN,Official data
96,TM,Detailed trade matrix,3,Albania,98,Croatia,5910,Export Quantity,1062,"Eggs, hen, in shell",2013,2013,tonnes,18,NaN,Official data
97,TM,Detailed trade matrix,3,Albania,98,Croatia,5910,Export Quantity,1062,"Eggs, hen, in shell",2017,2017,tonnes,149,*,Unofficial figure
127,TM,Detailed trade matrix,3,Albania,84,Greece,5910,Export Quantity,1062,"Eggs, hen, in shell",2010,2010,tonnes,687,NaN,Official data
128,TM,Detailed trade matrix,3,Albania,84,Greece,5910,Export Quantity,1062,"Eggs, hen, in shell",2011,2011,tonnes,539,NaN,Official data
129,TM,Detailed trade matrix,3,Albania,84,Greece,5910,Export Quantity,1062,"Eggs, hen, in shell",2012,2012,tonnes,1401,NaN,Official data
130,TM,Detailed trade matrix,3,Albania,84,Greece,5910,Export Quantity,1062,"Eggs, hen, in shell",2013,2013,tonnes,336,NaN,Official data
131,TM,Detailed trade matrix,3,Albania,84,Greece,5910,Export Quantity,1062,"Eggs, hen, in shell",2015,2015,tonnes,1349,NaN,Official data
132,TM,Detailed trade matrix,3,Albania,84,Greece,5910,Export Quantity,1062,"Eggs, hen, in shell",2016,2016,tonnes,767,NaN,Official data
133,TM,Detailed trade matrix,3,Albania,84,Greece,5910,Export Quantity,1062,"Eggs, hen, in shell",2017,2017,tonnes,1177,R,Estimated data using trading partners database
134,TM,Detailed trade matrix,3,Albania,84,Greece,5910,Export Quantity,1062,"Eggs, hen, in shell",2018,2018,tonnes,347,NaN,Official data
157,TM,Detailed trade matrix,3,Albania,84,Greece,5910,Export Quantity,1091,"Eggs, other bird, in shell",2012,2012,tonnes,35,NaN,Official data
166,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1064,"Eggs, dried",2010,2010,tonnes,19,NaN,Official data
182,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1062,"Eggs, hen, in shell",2004,2004,tonnes,16,NaN,Official data
183,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1062,"Eggs, hen, in shell",2006,2006,tonnes,102,NaN,Official data
184,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1062,"Eggs, hen, in shell",2007,2007,tonnes,2060,NaN,Official data
185,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1062,"Eggs, hen, in shell",2008,2008,tonnes,2209,NaN,Official data
186,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1062,"Eggs, hen, in shell",2009,2009,tonnes,1643,NaN,Official data
187,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1062,"Eggs, hen, in shell",2010,2010,tonnes,2454,NaN,Official data
188,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1062,"Eggs, hen, in shell",2011,2011,tonnes,361,NaN,Official data
189,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1062,"Eggs, hen, in shell",2012,2012,tonnes,823,NaN,Official data
190,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1062,"Eggs, hen, in shell",2013,2013,tonnes,34,NaN,Official data
207,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1091,"Eggs, other bird, in shell",2010,2010,tonnes,34,NaN,Official data
208,TM,Detailed trade matrix,3,Albania,106,Italy,5910,Export Quantity,1091,"Eggs, other bird, in shell",2012,2012,tonnes,17,NaN,Official data
209,TM,Detailed trade matrix,3,Albania,83,Kiribati,5910,Export Quantity,1062,"Eggs, hen, in shell",2013,2013,tonnes,17,NaN,Official data
210,TM,Detailed trade matrix,3,Albania,134,Malta,5910,Export Quantity,1062,"Eggs, hen, in shell",2009,2009,tonnes,16,NaN,Official data
226,TM,Detailed trade matrix,3,Albania,183,Romania,5910,Export Quantity,1062,"Eggs, hen, in shell",2009,2009,tonnes,36,NaN,Official data
227,TM,Detailed trade matrix,3,Albania,183,Romania,5910,Export Quantity,1062,"Eggs, hen, in shell",2011,2011,tonnes,424,NaN,Official data

In [36]:
df_export = df_export[['Reporter Countries', 'Year', 'Value']]

In [42]:
df_export.head()

   Reporter Countries  Year  Value
7         Afghanistan  2015      0
58        Afghanistan  2014      0
95            Albania  2012    215
96            Albania  2013     18
97            Albania  2017    149

In [44]:
df_export_grouped = df_export.groupby( by=[ "Reporter Countries", "Year"], as_index = False).sum()

In [48]:
df_export_grouped.head()

  Reporter Countries  Year  Value
0        Afghanistan  2014      0
1        Afghanistan  2015      0
2            Albania  2001    587
3            Albania  2002   1770
4            Albania  2003    531

In [51]:
df_export_grouped.to_json('./export_data.json', index=False, orient="table")

In [49]:
df_export_grouped.to_csv('./export_data.csv', index=False)