In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv('./FAOSTAT_data_8-16-2020_import_export.csv', encoding='utf-8')

In [3]:
df_raw.shape

(123354, 16)

In [4]:
df_import = df_raw[df_raw['Element'] == 'Import Quantity']
print('import', df_import.shape)
df_import.head()

import (55838, 16)

,Domain Code,Domain,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,TM,Detailed trade matrix,2,Afghanistan,52,Azerbaijan,5610,Import Quantity,1062,"Eggs, hen, in shell",2018,2018,tonnes,76,*,Unofficial figure
1,TM,Detailed trade matrix,2,Afghanistan,255,Belgium,5610,Import Quantity,1062,"Eggs, hen, in shell",2017,2017,tonnes,8,*,Unofficial figure
2,TM,Detailed trade matrix,2,Afghanistan,255,Belgium,5610,Import Quantity,1091,"Eggs, other bird, in shell",2015,2015,tonnes,7,*,Unofficial figure
3,TM,Detailed trade matrix,2,Afghanistan,41,"China, mainland",5610,Import Quantity,1062,"Eggs, hen, in shell",2010,2010,tonnes,192,NaN,Official data
4,TM,Detailed trade matrix,2,Afghanistan,79,Germany,5610,Import Quantity,1062,"Eggs, hen, in shell",2014,2014,tonnes,1,*,Unofficial figure

In [5]:
df_import = df_import[['Reporter Countries', 'Year', 'Value']]

In [6]:
# df_import_grouped = df_import.groupby(by=['Reporter Countries', 'Year']).sum()
# print('grouped import ', df_import_grouped.shape)
# type(df_import_grouped)

df_import.to_json('./import_data.json', index=False, orient="table" )

In [10]:
df_export = df_raw[df_raw['Element'] == 'Export Quantity']
print('export', df_export.shape)
df_export.head()

export (67516, 16)

,Domain Code,Domain,Reporter Country Code,Reporter Countries,Partner Country Code,Partner Countries,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
7,TM,Detailed trade matrix,2,Afghanistan,79,Germany,5910,Export Quantity,1063,"Eggs, liquid",2015,2015,tonnes,0,*,Unofficial figure
58,TM,Detailed trade matrix,2,Afghanistan,196,Seychelles,5910,Export Quantity,1062,"Eggs, hen, in shell",2014,2014,tonnes,0,*,Unofficial figure
95,TM,Detailed trade matrix,3,Albania,98,Croatia,5910,Export Quantity,1062,"Eggs, hen, in shell",2012,2012,tonnes,215,NaN,Official data
96,TM,Detailed trade matrix,3,Albania,98,Croatia,5910,Export Quantity,1062,"Eggs, hen, in shell",2013,2013,tonnes,18,NaN,Official data
97,TM,Detailed trade matrix,3,Albania,98,Croatia,5910,Export Quantity,1062,"Eggs, hen, in shell",2017,2017,tonnes,149,*,Unofficial figure

In [11]:
df_export = df_export[['Reporter Countries', 'Year', 'Value']]

In [13]:
df_export.to_json('./export_data.json', index=False, orient="table" )

In [14]:
df_export.to_csv('./export_data.csv', index=False)

In [16]:
df_import.to_csv('./import_data.csv', index=False)