In [5]:
import pandas as pd
import urllib3
from bs4 import BeautifulSoup

In [10]:
url = "https://www.numbeo.com/cost-of-living/prices_by_country.jsp?displayCurrency=USD&itemId=11"

In [13]:
http = urllib3.PoolManager()
response = http.request('GET', url)
soup = BeautifulSoup(response.data)

In [32]:
 = pd.DataFrame()

In [33]:
retail_df.head()

Empty DataFrame
Columns: [Country, Retail Price]
Index: []

In [35]:
count = 0
rows_list = []
for tr in soup.find_all('tr')[3:]:
    
    tds = tr.find_all('td')
    rows_list.append({"Country": tds[1].a.string , "Retail Price": tds[2].string})
retail_df = pd.DataFrame(rows_list, columns = ['Country', 'Retail Price'])

In [36]:
retail_df.head()

      Country Retail Price
0  Kazakhstan         1.01
1    Paraguay         1.65
2    Portugal         2.06
3      Greece         3.72
4      Latvia         2.12

In [37]:
retail_df.shape

(102, 2)

In [38]:
retail_df.to_csv('./retail_price_USD.csv',  index=False)

In [39]:
retail_df.to_json('./retail_price_USD.json', index=False,  orient="table")