In [1]:
import pandas as pd

In [2]:
df_raw = pd.read_csv('./malnutrition_country-wise-average.csv', encoding='utf-8')

In [3]:
df_raw.shape

(152, 8)

In [5]:
df_raw.head()

,Country,Income Classification,Severe Wasting,Wasting,Overweight,Stunting,Underweight,U5 Population ('000s)
0,AFGHANISTAN,0.0,3.033333,10.350000,5.125000,47.775000,30.375000,4918.561500
1,ALBANIA,2.0,4.075000,7.760000,20.800000,24.160000,7.700000,232.859800
2,ALGERIA,2.0,2.733333,5.942857,12.833333,19.571429,7.342857,3565.213143
3,ANGOLA,1.0,2.400000,6.933333,2.550000,42.633333,23.600000,3980.054000
4,ARGENTINA,2.0,0.200000,2.150000,11.125000,10.025000,2.600000,3613.651750

In [7]:
df_malnutrition = df_raw[['Country', 'Severe Wasting', 'Wasting', 'Overweight', 'Stunting', 'Underweight']]

In [8]:
df_malnutrition.head()

       Country  Severe Wasting    Wasting  Overweight   Stunting  Underweight
0  AFGHANISTAN        3.033333  10.350000    5.125000  47.775000    30.375000
1      ALBANIA        4.075000   7.760000   20.800000  24.160000     7.700000
2      ALGERIA        2.733333   5.942857   12.833333  19.571429     7.342857
3       ANGOLA        2.400000   6.933333    2.550000  42.633333    23.600000
4    ARGENTINA        0.200000   2.150000   11.125000  10.025000     2.600000

In [11]:
df_malnutrition['Total'] = df_malnutrition['Wasting'] + df_malnutrition['Severe Wasting'] + df_malnutrition['Overweight'] + df_malnutrition['Underweight']

<ipython-input-11-0b4d6f045350>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_malnutrition['Total'] = df_malnutrition['Wasting'] + df_malnutrition['Severe Wasting'] + df_malnutrition['Overweight'] + df_malnutrition['Underweight']

In [19]:
df_malnutrition.head()

,Country,Severe Wasting,Wasting in %,Overweight,Stunting,Underweight,Total
0,AFGHANISTAN,3.033333,10.350000,5.125000,47.775000,30.375000,48.883333
1,ALBANIA,4.075000,7.760000,20.800000,24.160000,7.700000,40.335000
2,ALGERIA,2.733333,5.942857,12.833333,19.571429,7.342857,28.852381
3,ANGOLA,2.400000,6.933333,2.550000,42.633333,23.600000,35.483333
4,ARGENTINA,0.200000,2.150000,11.125000,10.025000,2.600000,16.075000

In [20]:
df_malnutrition.to_csv('./malnutrition_for_pie_chart.csv',  index=False)

In [21]:
df_malnutrition.to_json('./malnutrition_for_pie_chart.json', index=False,  orient="table")